@import "~antd/lib/style/themes/default.less";

.toolbar {
  width: 100%;
  height: 56px;
  line-height: 56px;
  background: #fff;

  &.top {
    border-bottom: 1px solid @border-color-split;
  }

  &.bottom {
    border-top: 1px solid @border-color-split;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  button + button {
    margin-left: 8px;
  }
}